* {
  margin: 0;
  padding: 0;
}

html {
  background: #1e1a20;
}

body {
  overflow: hidden;
  user-select: none;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.logo {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-family: 'Roboto Mono', monospace;
  color: #1e1a20;
  font-size: 10vmin;
  text-align: center;
}

.subtitle {
  font-family: 'Roboto Mono', monospace;
  color: #1e1a20;
  font-size: 2vmin;
  text-align: center;
}