* {
  margin: 0;
  padding: 0;
}

html {
  background: #1e1a20;
}

body {
  overflow: hidden; /* Hide scrollbars */
  user-select: none
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

@font-face {
  font-family: "my_custom_font";
  src: url("./fonts/font.json") format("opentype");
}

.section {
  display: flex;
  align-items: center;
  text-align: center;
  height: 100vh;
  position: relative;
  font-family: "PT Sans", Calibri, Tahoma, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13vmin;
  padding-left: 10%;
  padding-right: 10%;
  
}

section:nth-child(odd) {
  justify-content: flex-end;
}
